MONGODB_URI=mongodb+srv://user:<db_password>@cluster0.ju4tpgm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=comfyverse
PORT=5000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me
JWT_SECRET=replace_this_with_a_strong_secret

